<div class="row">
  <div class="col-10 offset-1">
    <div class="space-break"></div>
    <div class="page-title">DC Metro</div>
  <div class="wip-watermark">Work In Progress</div>
  </div>
</div>

<div id="page-yield" data-pagename="DC-Metro" data-pagestatus="wip">
  <div class="row">
    <div class="col-10 offset-1">
      
      <br>
      
      <div id="dc-metro-map"></div>

      <ol id="dc-metro-list"></ol>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/babel">
  
  $(function() {
    var params = {
      "api_key": "<%= Rails.application.credentials.dcmetro[:primary_key] %>",
      // Request parameters
    };

    var stationCode = "All";

    $.ajax({
      url: "https://api.wmata.com/StationPrediction.svc/json/GetPrediction/" + stationCode + "?" + $.param(params),
      dataType: 'JSONP',
      type: "GET"
    }).done(function(data) {
      console.log("Station Prediction: Success");
      console.log(data);
    });

    
    $.getJSON({
      url: "/JSONs/metro.json"
    }).done(function(data) {
      var metroJSON = data;
      console.log("Success");
      console.log(metroJSON);
    });

    var lineCode = "";

    $.ajax({
      url: "https://api.wmata.com/Rail.svc/json/jStations?"+lineCode+$.param(params),
      dataType: 'JSONP',
      type: "GET"
    }).done(function(data) {
      console.log("Station List: Success");
      console.log(data);
    });

    $.ajax({
      url: "https://api.wmata.com/TrainPositions/TrainPositions?contentType={contentType}&"+$.param(params),
      dataType: 'JSONP',
      type: "GET"
    }).done(function(data) {
      console.log("Train Positions: Success");
      console.log(data);
    });

  });
</script>