<div class="row">
  <div class="col-10 offset-1">
    home
  </div>
</div>

<br><br>

<div class="row no-gutters">
  <div class="col-8 offset-2">
    <h3 id="home-page-projects-h3">Projects</h3>
  </div>
</div>

<br>



<div class="row no-gutters">
  <div class="col-8 offset-1">
    <div class="project-home-all">
      <div class="row no-gutters">
       
      </div>
    </div>
  </div>
</div>

<div id="ajax-hold">&nbsp;</div>
<canvas id="canvas-hold"></canvas>

<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<!-- /Users/patricklyden/Desktop/coding-environment/src/UIUX/node_modules/dom-to-image/spec/dom-to-image.spec.js -->
<!-- /Users/patricklyden/Desktop/coding-environment/src/UIUX/node_modules/dom-to-image/src/dom-to-image.js -->
<script type="text/babel"> 

  var projectBox = function(projectName, projectID, projectRoute) {
    var projectName2 = projectName.replace(/ /g, '-');
    return(
        <div className="col-2 offset-2">
          <div className="row no-gutters">
            <div className="col-12">
              <a href={projectRoute}>
                <div id={"project-home-"+projectID} className="project-home" data-route={projectRoute}>
                  <div id={"project-home-ajax-"+projectName2} className="project-home-ajax">
                    &nbsp;
                   {/*<canvas id={"ajax-canvas-"+projectID} className="ajax-canvas"></canvas>*/}
                  </div>
                  <p>{projectName}</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      );
  }

  var windowWidth;
  var windowHeight;
  var projectDivWidth;
  var projectDivHeight;
  var projectRoute;
  var htmlContent;
  var htmlData;
  var htmlID;
  var boxID;
  var aspectRatio;
  var indexID;
  var ajaxProjectName;
  var canvasImg;

  var percentResize = 0.2;


  $(function() {

    windowWidth = $(window).width();
    windowHeight= $(window).height();

    

    var projectsJSON;

    $.getJSON({
      url: "/JSONs/projects.json"
    }).done(function(data) {
      projectsJSON = data;
      var i;
      var cpJSON;
      var renderArr = [];
      for (i in projectsJSON['statuses']['done']) {
        // console.log(i);
        cpJSON = projectsJSON['statuses']['done'][i];
        renderArr.push(projectBox(cpJSON['name'],cpJSON['id'],cpJSON['route']));
      }
      for (i in projectsJSON['statuses']['wip']) {
        // console.log(i);
        cpJSON = projectsJSON['statuses']['wip'][i];
        renderArr.push(projectBox(cpJSON['name'],cpJSON['id'],cpJSON['route']));
      }
      ReactDOM.render(renderArr, $('.project-home-all div')[0]);
      
      projectDivWidth = windowWidth * percentResize;
      projectDivHeight = windowHeight * percentResize;

      aspectRatio = projectDivWidth / windowHeight;

      $('.project-home').css('width', projectDivWidth);
      $('.project-home').css('height', projectDivHeight);

    });

    // $('.project-home').each(function(index, element) {
    //   projectRoute = '/'+$(this).data('route');
    //   $.get(projectRoute, function(data) {
    //     var htmlArray = $.parseHTML($.trim(data));
    //     var htmlNodes = $(htmlArray[htmlArray.length-1]);
    //     htmlID = '#'+$(htmlArray[htmlArray.length-1]).attr('id');
    //     htmlContent = $(htmlNodes).children('#page-yield')[0];
    //     htmlData = $(document.createElement('body')).append(htmlContent)[0];
    //     boxID = '#project-home-ajax-'+(parseInt(index)+1).toString();
    //     indexID = (parseInt(index)+1).toString();
        
    //     $('#ajax-hold').empty();
    //     $('#ajax-hold').append(htmlData);

    //     canvasImg = $(document.createElement('img'));
    //     ajaxProjectName = $('#ajax-hold').find('#page-yield').data('pagename');
    //     canvasImg.attr('data-projectname',ajaxProjectName);
    //     // console.log('Pre Done',$('#ajax-hold').find('#page-yield').data('pagename'));

    //   }).done(function(data) {
        
    //     html2canvas($('#ajax-hold')[0], {
    //       logging: false,
    //       width: windowWidth,
    //       height: windowHeight,
    //       scale: aspectRatio
    //       }).then(function(canvas) {
            
    //         // console.log('Post Done',ajaxProjectName);
    //         $('#ajax-hold').empty();
    //         var canvasHold = document.createElement('canvas');
    //         canvasHold.setAttribute('width',projectDivWidth);
    //         canvasHold.setAttribute('height',projectDivHeight);
    //         var ctx = canvasHold.getContext("2d");
    //         ctx.drawImage(canvas,0,0,canvas.width, canvas.height,0,0,projectDivWidth,projectDivHeight);
            
    //         canvasImg.attr('src',canvasHold.toDataURL());
    //         $('#project-home-ajax-'+ajaxProjectName).empty();
    //         $('#project-home-ajax-'+ajaxProjectName).append(canvasImg);
    //     });
    //   });
    //   $('#ajax-hold').empty();
    // });

  });

</script>