<div class="row disable-select">
  <div class="col-10 offset-1">
    <div class="space-break"></div>
    <div class="page-title">Hexapawn</div>
      <!-- <div class="wip-watermark">Work In Progress</div> -->
  </div>
</div>

<br><br>

<div id="page-yield" data-pagename="Hexapawn">
  <div class="row no-gutters">
    <div class="col-8 offset-2">

      <table id="hexapawn-board">
        <tr id="hexapawn-board-col-label-row-top" class="hexapawn-board-col-label-row hexapawn-board-label-row">
          <td id="hexapawn-board-col-label-empty-top-left" class="hexapawn-board-col-label hexapawn-board-col-label-empty">&nbsp;</td>
          <td id="hexapawn-board-col-label-a" class="hexapawn-board-col-label">A</td>
          <td id="hexapawn-board-col-label-b" class="hexapawn-board-col-label">B</td>
          <td id="hexapawn-board-col-label-c" class="hexapawn-board-col-label">C</td>
          <td id="hexapawn-board-col-label-empty-top-right" class="hexapawn-board-col-label hexapawn-board-col-label-empty">&nbsp;</td>
        </tr>
        <tr id="hexapawn-board-row-3" class="hexapawn-board-row" data-rownumber="3">
          <td id="hexapawn-board-row-label-left-3" class="hexapawn-board-row-label">3</td>
          <td id="hexapawn-board-square-a3" class="hexapawn-board-square hexapawn-board-square-white" data-columnnumber="a" data-squarecoordinate="a3"><div id="hexapawn-pawn-b1" class="hexapawn-pawn hexapawn-pawn-black" data-pawncolor="black" data-pawnsn="b1">b1</div></td>
          <td id="hexapawn-board-square-b3" class="hexapawn-board-square hexapawn-board-square-black" data-columnnumber="b" data-squarecoordinate="b3"><div id="hexapawn-pawn-b2" class="hexapawn-pawn hexapawn-pawn-black" data-pawncolor="black" data-pawnsn="b2">b2</div></td>
          <td id="hexapawn-board-square-c3" class="hexapawn-board-square hexapawn-board-square-white" data-columnnumber="c" data-squarecoordinate="c3"><div id="hexapawn-pawn-b3" class="hexapawn-pawn hexapawn-pawn-black" data-pawncolor="black" data-pawnsn="b3">b3</div></td>
          <td id="hexapawn-board-row-label-right-3" class="hexapawn-board-row-label">3</td>
        </tr>
        <tr id="hexapawn-board-row-2" class="hexapawn-board-row" data-rownumber="2">
          <td id="hexapawn-board-row-label-left-2" class="hexapawn-board-row-label">2</td>
          <td id="hexapawn-board-square-a2" class="hexapawn-board-square hexapawn-board-square-black" data-columnnumber="a" data-squarecoordinate="a2"><div class="hexapawn-pawn-empty" data-pawncolor="empty" data-pawnsn="e">&nbsp;</div></td>
          <td id="hexapawn-board-square-b2" class="hexapawn-board-square hexapawn-board-square-white" data-columnnumber="b" data-squarecoordinate="b2"><div class="hexapawn-pawn-empty" data-pawncolor="empty" data-pawnsn="e">&nbsp;</div></td>
          <td id="hexapawn-board-square-c2" class="hexapawn-board-square hexapawn-board-square-black" data-columnnumber="c" data-squarecoordinate="c2"><div class="hexapawn-pawn-empty" data-pawncolor="empty" data-pawnsn="e">&nbsp;</div></td>
          <td id="hexapawn-board-row-label-right-2" class="hexapawn-board-row-label">2</td>
        </tr>
        <tr id="hexapawn-board-row-1" class="hexapawn-board-row" data-rownumber="1">
          <td id="hexapawn-board-row-label-left-1" class="hexapawn-board-row-label">1</td>
          <td id="hexapawn-board-square-a1" class="hexapawn-board-square hexapawn-board-square-white" data-columnnumber="a" data-squarecoordinate="a1"><div id="hexapawn-pawn-w1" class="hexapawn-pawn hexapawn-pawn-white" data-pawncolor="white" data-pawnsn="w1">w1</div></td>
          <td id="hexapawn-board-square-b1" class="hexapawn-board-square hexapawn-board-square-black" data-columnnumber="b" data-squarecoordinate="b1"><div id="hexapawn-pawn-w2" class="hexapawn-pawn hexapawn-pawn-white" data-pawncolor="white" data-pawnsn="w2">w2</div></td>
          <td id="hexapawn-board-square-c1" class="hexapawn-board-square hexapawn-board-square-white" data-columnnumber="c" data-squarecoordinate="c1"><div id="hexapawn-pawn-w3" class="hexapawn-pawn hexapawn-pawn-white" data-pawncolor="white" data-pawnsn="w3">w3</div></td>
          <td id="hexapawn-board-row-label-right-1" class="hexapawn-board-row-label">1</td>
        </tr>
        <tr id="hexapawn-board-col-label-row-bottom" class="hexapawn-board-col-label-row hexapawn-board-label-row">
          <td id="hexapawn-board-col-label-empty-bottom-left" class="hexapawn-board-col-label hexapawn-board-col-label-empty">&nbsp;</td>
          <td id="hexapawn-board-col-label-a" class="hexapawn-board-col-label">A</td>
          <td id="hexapawn-board-col-label-b" class="hexapawn-board-col-label">B</td>
          <td id="hexapawn-board-col-label-c" class="hexapawn-board-col-label">C</td>
          <td id="hexapawn-board-col-label-empty-bottom-right" class="hexapawn-board-col-label hexapawn-board-col-label-empty">&nbsp;</td>
        </tr>
      </table>

    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  
  var emptyHTML = '<div class="hexapawn-pawn-empty" data-pawncolor="empty" data-pawnsn="e">&nbsp;</div>';

  var movesJSON = {};
  var mapJSON = {
    'a3':'',
    'b3':'',
    'c3':'',
    'a2':'',
    'b2':'',
    'c2':'',
    'a1':'',
    'b1':'',
    'c1':''
  };

  var statusJSON = {
    'a3':'',
    'a2':'',
    'a1':'',
    'b3':'',
    'b2':'',
    'b1':'',
    'c3':'',
    'c2':'',
    'c1':''
  }

  var boardJSON = {
    'a3':'',
    'a2':'',
    'a1':'',
    'b3':'',
    'b2':'',
    'b1':'',
    'c3':'',
    'c2':'',
    'c1':''
  }

  var winnerReport = 'none';

  function boardStatus() {
    var a3 = $('td#hexapawn-board-square-a3 div').data('pawnsn');
    var b3 = $('td#hexapawn-board-square-b3 div').data('pawnsn');
    var c3 = $('td#hexapawn-board-square-c3 div').data('pawnsn');
    var a2 = $('td#hexapawn-board-square-a2 div').data('pawnsn');
    var b2 = $('td#hexapawn-board-square-b2 div').data('pawnsn');
    var c2 = $('td#hexapawn-board-square-c2 div').data('pawnsn');
    var a1 = $('td#hexapawn-board-square-a1 div').data('pawnsn');
    var b1 = $('td#hexapawn-board-square-b1 div').data('pawnsn');
    var c1 = $('td#hexapawn-board-square-c1 div').data('pawnsn');

    boardJSON['a3'] = a3;
    boardJSON['b3'] = b3;
    boardJSON['c3'] = c3;
    boardJSON['a2'] = a2;
    boardJSON['b2'] = b2;
    boardJSON['c2'] = c2;
    boardJSON['a1'] = a1;
    boardJSON['b1'] = b1;
    boardJSON['c1'] = c1;
    
  }

  // \(boardJSON\['([abc][123])'\]\[0\] == '([wb])'\) {movesJSON\[boardJSON\['([abc][123])'\]\].push\('([abc][123])'\);}
  // (boardJSON['\1'][0] == '\2') {movesJSON[boardJSON['\3']].push('\4'); console.log(boardJSON['\3'], movesJSON[boardJSON['\3']], '\1');}
  function getNewSquare(inOffset) {
    var hbsHeight = parseInt($('.hexapawn-board-square').css('height'));
    var hbsWidth = parseInt($('.hexapawn-board-square').css('width'));
    
    return [Math.round(inOffset['top'] / hbsWidth), Math.round(inOffset['left'] / hbsHeight)];
  }

  function possibleMoves() {
    possibleMovesJSON = {
      'b3':{'move':[],'take':[]},
      'b2':{'move':[],'take':[]},
      'b1':{'move':[],'take':[]},
      'w3':{'move':[],'take':[]},
      'w2':{'move':[],'take':[]},
      'w1':{'move':[],'take':[]}

    };

    boardStatus();
    
    if (boardJSON['a3'][0] == 'w') {
      winnerReport = 'white';
    } else if (boardJSON['a3'][0] == 'b') {
      if (boardJSON['a2'][0] == 'e') {possibleMovesJSON[boardJSON['a3']]['move'].push('a2');}
      if (boardJSON['b2'][0] == 'w') {possibleMovesJSON[boardJSON['a3']]['take'].push('b2');}
    }

    if (boardJSON['a2'][0] == 'w') {
      if (boardJSON['a3'][0] == 'e') {possibleMovesJSON[boardJSON['a2']]['move'].push('a3');}
      if (boardJSON['b3'][0] == 'b') {possibleMovesJSON[boardJSON['a2']]['take'].push('b3');}
    } else if (boardJSON['a2'][0] == 'b') {
      if (boardJSON['a1'][0] == 'e') {possibleMovesJSON[boardJSON['a2']]['move'].push('a1');}
      if (boardJSON['b1'][0] == 'w') {possibleMovesJSON[boardJSON['a2']]['take'].push('b1');}
    }

    if (boardJSON['a1'][0] == 'w') {
      if (boardJSON['a2'][0] == 'e') {possibleMovesJSON[boardJSON['a1']]['move'].push('a2');}
      if (boardJSON['b2'][0] == 'b') {possibleMovesJSON[boardJSON['a1']]['take'].push('b2');}
    } else if (boardJSON['a1'][0] == 'b') {
      winnerReport = 'black';
    }

    ////

    if (boardJSON['b3'][0] == 'w') {
      winnerReport = 'white';
    } else if (boardJSON['b3'][0] == 'b') {
      if (boardJSON['a2'][0] == 'w') {possibleMovesJSON[boardJSON['b3']]['take'].push('a2');}
      if (boardJSON['b2'][0] == 'e') {possibleMovesJSON[boardJSON['b3']]['move'].push('b2');}
      if (boardJSON['c2'][0] == 'w') {possibleMovesJSON[boardJSON['b3']]['take'].push('c2');}
    }

    if (boardJSON['b2'][0] == 'w') {
      if (boardJSON['a3'][0] == 'b') {possibleMovesJSON[boardJSON['b2']]['take'].push('a3');}
      if (boardJSON['b3'][0] == 'e') {possibleMovesJSON[boardJSON['b2']]['move'].push('b3');}
      if (boardJSON['c3'][0] == 'b') {possibleMovesJSON[boardJSON['b2']]['take'].push('c3');}
    } else if (boardJSON['b2'][0] == 'b') {
      if (boardJSON['a1'][0] == 'w') {possibleMovesJSON[boardJSON['b2']]['take'].push('a1');}
      if (boardJSON['b1'][0] == 'e') {possibleMovesJSON[boardJSON['b2']]['move'].push('b1');}
      if (boardJSON['c1'][0] == 'w') {possibleMovesJSON[boardJSON['b2']]['take'].push('c1');}
    }

    if (boardJSON['b1'][0] == 'w') {
      if (boardJSON['a2'][0] == 'b') {possibleMovesJSON[boardJSON['b1']]['take'].push('a2');}
      if (boardJSON['b2'][0] == 'e') {possibleMovesJSON[boardJSON['b1']]['move'].push('b2');}
      if (boardJSON['c2'][0] == 'b') {possibleMovesJSON[boardJSON['b1']]['take'].push('c2');}
    } else if (boardJSON['b1'][0] == 'b') {
      winnerReport = 'black';
    }

    ////

    if (boardJSON['c3'][0] == 'w') {
      winnerReport = 'white';
    } else if (boardJSON['c3'][0] == 'b') {
      if (boardJSON['c2'][0] == 'e') {possibleMovesJSON[boardJSON['c3']]['move'].push('c2');}
      if (boardJSON['b2'][0] == 'b') {possibleMovesJSON[boardJSON['c3']]['take'].push('b2');}
    }

    if (boardJSON['c2'][0] == 'w') {
      if (boardJSON['c3'][0] == 'e') {possibleMovesJSON[boardJSON['c2']]['move'].push('c3');}
      if (boardJSON['b3'][0] == 'b') {possibleMovesJSON[boardJSON['c2']]['take'].push('b3');}
    } else if (boardJSON['c2'][0] == 'b') {
      if (boardJSON['c1'][0] == 'e') {possibleMovesJSON[boardJSON['c2']]['move'].push('c1');}
      if (boardJSON['b1'][0] == 'w') {possibleMovesJSON[boardJSON['c2']]['take'].push('b1');}
    }

    if (boardJSON['c1'][0] == 'w') {
      if (boardJSON['c2'][0] == 'e') {possibleMovesJSON[boardJSON['c1']]['move'].push('c2');}
      if (boardJSON['b2'][0] == 'b') {possibleMovesJSON[boardJSON['c1']]['take'].push('b2');}
    } else if (boardJSON['c1'][0] == 'b') {
      winnerReport = 'black';
    }

    return possibleMovesJSON;
  }


  function tableMove(startCoordinate, verticalDirection, horizontalDirection) {
    var let2num = {'nan':0,'a':1,'b':2,'c':3};
    var num2let = {'0':'nan','1':'a','2':'b','3':'c','4':'nan'};
    var c1 = startCoordinate.substr(0,1);
    var c2 = startCoordinate.substr(1,1);
    var o1 = num2let[(let2num[c1]+parseInt(horizontalDirection)).toString()];
    var o2 = (parseInt(c2)+parseInt(verticalDirection)).toString();

    if (o1=='nan'||o2=='nan'||o1=='0'||o2=='0'||o1==0||o2==0) {return '';} else {return o1+o2;}
  }

  function checkWinner() {
    if (winnerReport == 'white') {

    } else if (winnerReport == 'black') {

    } else if (winnerReport == 'none') {

    }
  }

  function acceptableMoves(currentSquareCOORD) {
    var acceptableMovesArr = [];
    var currentPiece = $('#hexapawn-board-square-'+currentSquareCOORD+' div');
    var currentColor = $('#hexapawn-board-square-'+currentSquareCOORD+' div').data('pawncolor');
    var potentialJSON = {
      'white':[
        {'direction':1,'offset':-1,'check':'black'},
        {'direction':1,'offset':0,'check':'empty'},
        {'direction':1,'offset':1,'check':'black'}
      ],
      'black':[
        {'direction':-1,'offset':-1,'check':'white'},
        {'direction':-1,'offset':0,'check':'empty'},
        {'direction':-1,'offset':1,'check':'white'}
      ]
      
    };

    for (i in potentialJSON[currentColor]) {
      var snShift = tableMove(currentSquareCOORD,potentialJSON[currentColor][i]['direction'],potentialJSON[currentColor][i]['offset']);
      if ($('#hexapawn-board-square-'+snShift+' div').data('pawncolor') == potentialJSON[currentColor][i]['check']) {
        acceptableMovesArr.push('#hexapawn-board-square-'+snShift);
      }
    }
    if (acceptableMovesArr.length == 0) {
      return '#hexapawn-board-square-'+currentSquareCOORD;
    } else {
      return acceptableMovesArr.join();
    }
    
  }

  function acceptabelMoves2(currentPawnSN, currentSquareCOORD, inMovesJSON) {
    var acceptableMovesArr = [];
    console.log(acceptableMovesArr.length);

    for (i in inMovesJSON[currentPawnSN]['move']) {
      acceptableMovesArr.push('#hexapawn-board-square-'+inMovesJSON[currentPawnSN]['move'][i])
    }
    for (i in inMovesJSON[currentPawnSN]['take']) {
      acceptableMovesArr.push('#hexapawn-board-square-'+inMovesJSON[currentPawnSN]['take'][i])
    }

    if (acceptableMovesArr.length == 0) {
      return '#hexapawn-board-square-'+currentSquareCOORD;
    } else {
      return acceptableMovesArr.join();
    }
  }

  

  function currentMap(inMapJSON) {
    $.each($('.hexapawn-board-square'), function(key,value) {
      inMapJSON[$(value).data('squarecoordinate')] = $('#'+$(value).attr('id')+' div').data('pawncolor')[0];
    });
    return inMapJSON;
  }

  function gridVisualizer(inCoordinatesJSON) {
    var gva3 = inCoordinatesJSON['a3'];
    var gvb3 = inCoordinatesJSON['b3'];
    var gvc3 = inCoordinatesJSON['c3'];
    var gva2 = inCoordinatesJSON['a2'];
    var gvb2 = inCoordinatesJSON['b2'];
    var gvc2 = inCoordinatesJSON['c2'];
    var gva1 = inCoordinatesJSON['a1'];
    var gvb1 = inCoordinatesJSON['b1'];
    var gvc1 = inCoordinatesJSON['c1'];

    var outVisualizer = '\n---------------\n|\t'+gva3+'\t|\t'+gvb3+'\t|\t'+gvc3+'\t|\n---------------\n|\t'+gva2+'\t|\t'+gvb2+'\t|\t'+gvc2+'\t|\n---------------\n|\t'+gva1+'\t|\t'+gvb1+'\t|\t'+gvc1+'\t|\n---------------';

    return outVisualizer;
  }
 
  var droppableSquares;
  var startSquareCOORD;
  var endSquareCOORD;
  var dragHTML;
  $(function() {


    $(document).on('mouseenter', '.hexapawn-pawn', function() {
      mapJSON = currentMap(mapJSON);
      // console.log($(this).parent().data('squarecoordinate'));
      // console.log(gridVisualizer(mapJSON));
      movesJSON = possibleMoves();
      // droppableSquares = acceptableMoves($(this).parent().data('squarecoordinate'));
      // console.log(droppableSquares);
      // console.log(movesJSON);

      var droppableSquares = acceptabelMoves2($(this).data('pawnsn'),$(this).parent().data('squarecoordinate'),movesJSON);
      $('.hexapawn-pawn').draggable({
        revert: 'invalid',
        start: function(event, ui) {
          startSquareCOORD = $(this).parent().data('squarecoordinate');
          dragHTML = $(this)[0];
          // console.log(droppableSquares);
        }
      });
      console.log(droppableSquares);
      $(droppableSquares).droppable({
        accept: '.hexapawn-pawn',
        drop: function(event, ui) {
          console.log(droppableSquares);
          
          endSquareCOORD = $('#'+$(this).attr('id')).data('squarecoordinate');
          // console.log(droppableSquares, endSquareCOORD);
          
          // $('#hexapawn-board-square-'+startSquareCOORD).empty();
          // $('#hexapawn-board-square-'+startSquareCOORD).append(emptyHTML);
          $('#hexapawn-board-square-'+startSquareCOORD+' div').replaceWith(emptyHTML);
          $('#hexapawn-board-square-'+startSquareCOORD+' div').css({'top':'-1px', 'left':'-1px'});

          // $('#hexapawn-board-square-'+endSquareCOORD).empty();
          // $('#hexapawn-board-square-'+endSquareCOORD).append(dragHTML);
          $('#hexapawn-board-square-'+endSquareCOORD+' div').replaceWith(dragHTML);
          $('#hexapawn-board-square-'+endSquareCOORD+' div').css({'top':'-1px', 'left':'-1px'});        
        }
      });
    });



  });

</script>