<div class="row">
  <div class="col-10 offset-1">
    <div class="space-break"></div>
    <div class="page-title">Two Up</div>
  <div class="wip-watermark">Work In Progress</div>
  </div>
</div>

<div id="page-yield" data-pagename="Two-Up" data-pagestatus="wip">
  <div class="row">
    <div class="col-10 offset-1">
    
    </div>
  </div>
</div>