<div class="row">
  <div class="col-10 offset-1">
    <div class="space-break"></div>
    <div class="page-title">Paint</div>
  </div>
</div>

<div id="page-yield">
  <div class="wip-watermark">Work In Progress</div>
</div>