<div class="row disable-select">
  <div class="col-10 offset-1">
    <div class="space-break"></div>
    <div class="page-title">Korean Syllable Game</div>
      <div class="wip-watermark">Work In Progress</div>
  </div>
</div>

<br><br>

<div id="page-yield" data-pagename="Korean Syllable Game" data-pagestatus="wip">
  <div class="row no-gutters">
    <div class="col-8 offset-2">
      
    </div>
  </div>
</div>