<div class="row">
  <div class="col-10 offset-1">
    <div class="space-break"></div>
    <div class="page-title">Chess</div>
  </div>
</div>

<div id="page-yield">
    <div class="wip-watermark">Work In Progress</div>
    <div class="row no-gutters">
      <div class="col-10 offset-1">


        <!-- <div class="chess-square-child" data-piececolor="empty">&nbsp;</div> -->
        <!-- <div class="chess-square-child chess-piece chess-piece-black" data-piececolor="black" data-piecetype="pawn"><p>&nbsp;</p></div> -->
        <!-- <div class="chess-square-child chess-piece chess-piece-white" data-piececolor="white" data-piecetype="pawn"><p>&nbsp;</p></div> -->

        <table id="chess-board">
            <tr class="coordinate-row">
                <td id="co-blank" class="coord-col-row coord-col-row-tl coordinate">&nbsp;</td>
                <td id="co-1" class="coord-col coordinate">1</td>
                <td id="co-2" class="coord-col coordinate">2</td>
                <td id="co-3" class="coord-col coordinate">3</td>
                <td id="co-4" class="coord-col coordinate">4</td>
                <td id="co-5" class="coord-col coordinate">5</td>
                <td id="co-6" class="coord-col coordinate">6</td>
                <td id="co-7" class="coord-col coordinate">7</td>
                <td id="co-8" class="coord-col coordinate">8</td>
                <td id="co-blank" class="coord-col-row coord-col-row-tr coordinate">&nbsp;</td>
            </tr>

            <tr class="chess-row">
                <td id="co-A" class="coord-row coordinate">A</td>
                <td id="sq-A-1" title="A.1" class="white-square chess-square"><div class="chess-square-child chess-piece chess-piece-black" data-piececolor="black" data-piecetype="Rook"><p class="chess-piece-text">Rook</p></div></td>
                <td id="sq-A-2" title="A.2" class="black-square chess-square"><div class="chess-square-child chess-piece chess-piece-black" data-piececolor="black" data-piecetype="Knight"><p class="chess-piece-text">Knight</p></div></td>
                <td id="sq-A-3" title="A.3" class="white-square chess-square"><div class="chess-square-child chess-piece chess-piece-black" data-piececolor="black" data-piecetype="Bishop"><p class="chess-piece-text">Bishop</p></div></td>
                <td id="sq-A-4" title="A.4" class="black-square chess-square"><div class="chess-square-child chess-piece chess-piece-black" data-piececolor="black" data-piecetype="King"><p class="chess-piece-text">King</p></div></td>
                <td id="sq-A-5" title="A.5" class="white-square chess-square"><div class="chess-square-child chess-piece chess-piece-black" data-piececolor="black" data-piecetype="Queen"><p class="chess-piece-text">Queen</p></div></td>
                <td id="sq-A-6" title="A.6" class="black-square chess-square"><div class="chess-square-child chess-piece chess-piece-black" data-piececolor="black" data-piecetype="Bishop"><p class="chess-piece-text">Bishop</p></div></td>
                <td id="sq-A-7" title="A.7" class="white-square chess-square"><div class="chess-square-child chess-piece chess-piece-black" data-piececolor="black" data-piecetype="Knight"><p class="chess-piece-text">Knight</p></div></td>
                <td id="sq-A-8" title="A.8" class="black-square chess-square"><div class="chess-square-child chess-piece chess-piece-black" data-piececolor="black" data-piecetype="Rook"><p class="chess-piece-text">Rook</p></div></td>
                <td id="co-A" class="coord-row coordinate">A</td>
            </tr>

            <tr class="chess-row">
                <td id="co-B" class="coord-row coordinate">B</td>
                <td id="sq-B-1" title="B.1" class="black-square chess-square"><div class="chess-square-child chess-piece chess-piece-black" data-piececolor="black" data-piecetype="Pawn"><p class="chess-piece-text">Pawn</p></div></td>
                <td id="sq-B-2" title="B.2" class="white-square chess-square"><div class="chess-square-child chess-piece chess-piece-black" data-piececolor="black" data-piecetype="Pawn"><p class="chess-piece-text">Pawn</p></div></td>
                <td id="sq-B-3" title="B.3" class="black-square chess-square"><div class="chess-square-child chess-piece chess-piece-black" data-piececolor="black" data-piecetype="Pawn"><p class="chess-piece-text">Pawn</p></div></td>
                <td id="sq-B-4" title="B.4" class="white-square chess-square"><div class="chess-square-child chess-piece chess-piece-black" data-piececolor="black" data-piecetype="Pawn"><p class="chess-piece-text">Pawn</p></div></td>
                <td id="sq-B-5" title="B.5" class="black-square chess-square"><div class="chess-square-child chess-piece chess-piece-black" data-piececolor="black" data-piecetype="Pawn"><p class="chess-piece-text">Pawn</p></div></td>
                <td id="sq-B-6" title="B.6" class="white-square chess-square"><div class="chess-square-child chess-piece chess-piece-black" data-piececolor="black" data-piecetype="Pawn"><p class="chess-piece-text">Pawn</p></div></td>
                <td id="sq-B-7" title="B.7" class="black-square chess-square"><div class="chess-square-child chess-piece chess-piece-black" data-piececolor="black" data-piecetype="Pawn"><p class="chess-piece-text">Pawn</p></div></td>
                <td id="sq-B-8" title="B.8" class="white-square chess-square"><div class="chess-square-child chess-piece chess-piece-black" data-piececolor="black" data-piecetype="Pawn"><p class="chess-piece-text">Pawn</p></div></td>
                <td id="co-B" class="coord-row coordinate">B</td>
            </tr>

            <tr class="chess-row">
                <td id="co-C" class="coord-row coordinate">C</td>
                <td id="sq-C-1" title="C.1" class="white-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="sq-C-2" title="C.2" class="black-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="sq-C-3" title="C.3" class="white-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="sq-C-4" title="C.4" class="black-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="sq-C-5" title="C.5" class="white-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="sq-C-6" title="C.6" class="black-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="sq-C-7" title="C.7" class="white-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="sq-C-8" title="C.8" class="black-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="co-C" class="coord-row coordinate">C</td>
            </tr>

            <tr class="chess-row">
                <td id="co-D" class="coord-row coordinate">D</td>
                <td id="sq-D-1" title="D.1" class="black-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="sq-D-2" title="D.2" class="white-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="sq-D-3" title="D.3" class="black-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="sq-D-4" title="D.4" class="white-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="sq-D-5" title="D.5" class="black-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="sq-D-6" title="D.6" class="white-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="sq-D-7" title="D.7" class="black-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="sq-D-8" title="D.8" class="white-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="co-D" class="coord-row coordinate">D</td>
            </tr>

            <tr class="chess-row">
                <td id="co-E" class="coord-row coordinate">E</td>
                <td id="sq-E-1" title="E.1" class="white-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="sq-E-2" title="E.2" class="black-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="sq-E-3" title="E.3" class="white-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="sq-E-4" title="E.4" class="black-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="sq-E-5" title="E.5" class="white-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="sq-E-6" title="E.6" class="black-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="sq-E-7" title="E.7" class="white-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="sq-E-8" title="E.8" class="black-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="co-E" class="coord-row coordinate">E</td>
            </tr>

            <tr class="chess-row">
                <td id="co-F" class="coord-row coordinate">F</td>
                <td id="sq-F-1" title="F.1" class="black-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="sq-F-2" title="F.2" class="white-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="sq-F-3" title="F.3" class="black-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="sq-F-4" title="F.4" class="white-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="sq-F-5" title="F.5" class="black-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="sq-F-6" title="F.6" class="white-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="sq-F-7" title="F.7" class="black-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="sq-F-8" title="F.8" class="white-square chess-square"><div class="chess-square-child" data-piececolor="empty">&nbsp;</div></td>
                <td id="co-F" class="coord-row coordinate">F</td>
            </tr>

            <tr class="chess-row">
                <td id="co-G" class="coord-row coordinate">G</td>
                <td id="sq-G-1" title="G.1" class="white-square chess-square"><div class="chess-square-child chess-piece chess-piece-white" data-piececolor="white" data-piecetype="Pawn"><p class="chess-piece-text">Pawn</p></div></td>
                <td id="sq-G-2" title="G.2" class="black-square chess-square"><div class="chess-square-child chess-piece chess-piece-white" data-piececolor="white" data-piecetype="Pawn"><p class="chess-piece-text">Pawn</p></div></td>
                <td id="sq-G-3" title="G.3" class="white-square chess-square"><div class="chess-square-child chess-piece chess-piece-white" data-piececolor="white" data-piecetype="Pawn"><p class="chess-piece-text">Pawn</p></div></td>
                <td id="sq-G-4" title="G.4" class="black-square chess-square"><div class="chess-square-child chess-piece chess-piece-white" data-piececolor="white" data-piecetype="Pawn"><p class="chess-piece-text">Pawn</p></div></td>
                <td id="sq-G-5" title="G.5" class="white-square chess-square"><div class="chess-square-child chess-piece chess-piece-white" data-piececolor="white" data-piecetype="Pawn"><p class="chess-piece-text">Pawn</p></div></td>
                <td id="sq-G-6" title="G.6" class="black-square chess-square"><div class="chess-square-child chess-piece chess-piece-white" data-piececolor="white" data-piecetype="Pawn"><p class="chess-piece-text">Pawn</p></div></td>
                <td id="sq-G-7" title="G.7" class="white-square chess-square"><div class="chess-square-child chess-piece chess-piece-white" data-piececolor="white" data-piecetype="Pawn"><p class="chess-piece-text">Pawn</p></div></td>
                <td id="sq-G-8" title="G.8" class="black-square chess-square"><div class="chess-square-child chess-piece chess-piece-white" data-piececolor="white" data-piecetype="Pawn"><p class="chess-piece-text">Pawn</p></div></td>
                <td id="co-G" class="coord-row coordinate">G</td>
            </tr>

            <tr class="chess-row">
                <td id="co-H" class="coord-row coordinate">H</td>
                <td id="sq-H-1" title="H.1" class="black-square chess-square"><div class="chess-square-child chess-piece chess-piece-white" data-piececolor="white" data-piecetype="Rook"><p class="chess-piece-text">Rook</p></div></td>
                <td id="sq-H-2" title="H.2" class="white-square chess-square"><div class="chess-square-child chess-piece chess-piece-white" data-piececolor="white" data-piecetype="Knight"><p class="chess-piece-text">Knight</p></div></td>
                <td id="sq-H-3" title="H.3" class="black-square chess-square"><div class="chess-square-child chess-piece chess-piece-white" data-piececolor="white" data-piecetype="Bishop"><p class="chess-piece-text">Bishop</p></div></td>
                <td id="sq-H-4" title="H.4" class="white-square chess-square"><div class="chess-square-child chess-piece chess-piece-white" data-piececolor="white" data-piecetype="King"><p class="chess-piece-text">King</p></div></td>
                <td id="sq-H-5" title="H.5" class="black-square chess-square"><div class="chess-square-child chess-piece chess-piece-white" data-piececolor="white" data-piecetype="Queen"><p class="chess-piece-text">Queen</p></div></td>
                <td id="sq-H-6" title="H.6" class="white-square chess-square"><div class="chess-square-child chess-piece chess-piece-white" data-piececolor="white" data-piecetype="Bishop"><p class="chess-piece-text">Bishop</p></div></td>
                <td id="sq-H-7" title="H.7" class="black-square chess-square"><div class="chess-square-child chess-piece chess-piece-white" data-piececolor="white" data-piecetype="Knight"><p class="chess-piece-text">Knight</p></div></td>
                <td id="sq-H-8" title="H.8" class="white-square chess-square"><div class="chess-square-child chess-piece chess-piece-white" data-piececolor="white" data-piecetype="Rook"><p class="chess-piece-text">Rook</p></div></td>
                <td id="co-H" class="coord-row coordinate">H</td>
            </tr>

            <tr class="coordinate-row">
                <td id="co-blank" class="coord-col-row coord-col-row-bl coordinate">&nbsp;</td>
                <td id="co-1" class="coord-col coordinate">1</td>
                <td id="co-2" class="coord-col coordinate">2</td>
                <td id="co-3" class="coord-col coordinate">3</td>
                <td id="co-4" class="coord-col coordinate">4</td>
                <td id="co-5" class="coord-col coordinate">5</td>
                <td id="co-6" class="coord-col coordinate">6</td>
                <td id="co-7" class="coord-col coordinate">7</td>
                <td id="co-8" class="coord-col coordinate">8</td>
                <td id="co-blank" class="coord-col-row coord-col-row-br coordinate">&nbsp;</td>
            </tr>
        </table>

        <!-- <div class="chess-square-child chess-piece chess-piece-white" data-king="false" data-piececolor="red"></div> -->
        <!-- <div class="chess-square-child chess-piece chess-piece-black" data-king="false" data-piececolor="black"></div> -->

      </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    // {
    //     'pieceJSON':{
    //         'piece':{
    //             'name':,
    //             'moves'[{
    //                 'direction':,
    //                 'numbers':[{
    //                     'move':{
    //                         'number':,
    //                         'count':[]
    //                     },
    //                     'take':{
    //                         'number':,
    //                         'count':[]
    //                     }
    //                 }]
    //             }]
    //         }
    //     },
    //     'directionJSON':{
    //         'forward left':,
    //         'forward':,
    //         'forward right':,
    //         'right':,
    //         'backward right':,
    //         'backward':,
    //         'backward left':
    //     }
    // }
  var movesJSON = {
        'pieceJSON':{},

        'directionJSON':{
            'forward left':'',
            'forward':'',
            'forward right':'',
            'right':'',
            'backward right':'',
            'backward':'',
            'backward left':''
        },

        'nameJSON':{
            'pawn':{
                'moves':{
                    'move':[(0,2),(0,1)]
                },
                'take':{
                    'move':[(1,-1),(1,1)]
                }
            },
            'rook':{
                'moves':{
                    'move':[(0,8),(8,0),(0,-8),(-8,0)]
                },
                'take':{
                    'move':[(0,8),(8,0),(0,-8),(-8,0)]
                }
            },
            'knight':{
                'moves':{
                    'move':[]
                },
                'take':{
                    'move':[]
                }
            },
            'bishop':{
                'moves':{
                    'move':[]
                },
                'take':{
                    'move':[]
                }
            },
            'queen':{
                'moves':{
                    'move':[]
                },
                'take':{
                    'move':[]
                }
            },
            'king':{
                'moves':{
                    'move':[]
                },
                'take':{
                    'move':[]
                }
            }
            
        }
    };


  $(function () {

    $('.chess-piece').on('mouseenter', function() {
        console.log($(this).data('piececolor'));
        console.log($(this).data('piecetype'));
    });

  });

</script>