<div class="row">
  <div class="col-10 offset-1">
    <div class="space-break"></div>
    <div class="page-title">Checkers</div>
  </div>
</div>

<div id="page-yield" data-pagename="Checkers" data-pagestatus="complete">
    <div class="row no-gutters">
      <div class="col-10 offset-1">

        <table id="checker-board">
            <tr class="coordinate-row">
                <td id="co-blank" class="coord-col-row coord-col-row-tl coordinate">&nbsp;</td>
                <td id="co-1" class="coord-col coordinate">1</td>
                <td id="co-2" class="coord-col coordinate">2</td>
                <td id="co-3" class="coord-col coordinate">3</td>
                <td id="co-4" class="coord-col coordinate">4</td>
                <td id="co-5" class="coord-col coordinate">5</td>
                <td id="co-6" class="coord-col coordinate">6</td>
                <td id="co-7" class="coord-col coordinate">7</td>
                <td id="co-8" class="coord-col coordinate">8</td>
                <td id="co-blank" class="coord-col-row coord-col-row-tr coordinate">&nbsp;</td>
            </tr>

            <tr class="checker-row" data-row="black-end-row" data-endrow="true">
                <td id="co-A" class="coord-row coordinate">A</td><td id="sq-A-1" title="A.1" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-A-2" title="A.2" class="red-square checker-square" data-accept="none"><div class="checker-square-child checker-piece checker-piece-black" data-king="false" data-piececolor="black" data-piecenumber="B1"><p>&nbsp;</p></div></td><td id="sq-A-3" title="A.3" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-A-4" title="A.4" class="red-square checker-square" data-accept="none"><div class="checker-square-child checker-piece checker-piece-black" data-king="false" data-piececolor="black" data-piecenumber="B2"><p>&nbsp;</p></div></td><td id="sq-A-5" title="A.5" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-A-6" title="A.6" class="red-square checker-square" data-accept="none"><div class="checker-square-child checker-piece checker-piece-black" data-king="false" data-piececolor="black" data-piecenumber="B3"><p>&nbsp;</p></div></td><td id="sq-A-7" title="A.7" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-A-8" title="A.8" class="red-square checker-square" data-accept="none"><div class="checker-square-child checker-piece checker-piece-black" data-king="false" data-piececolor="black" data-piecenumber="B4"><p>&nbsp;</p></div></td><td id="co-A" class="coord-row coordinate">A</td>
            </tr>

            <tr class="checker-row" data-row="mid-row" data-endrow="false">
                <td id="co-B" class="coord-row coordinate">B</td><td id="sq-B-1" title="B.1" class="red-square checker-square" data-accept="none"><div class="checker-square-child checker-piece checker-piece-black" data-king="false" data-piececolor="black" data-piecenumber="B5"><p>&nbsp;</p></div></td><td id="sq-B-2" title="B.2" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-B-3" title="B.3" class="red-square checker-square" data-accept="none"><div class="checker-square-child checker-piece checker-piece-black" data-king="false" data-piececolor="black" data-piecenumber="B6"><p>&nbsp;</p></div></td><td id="sq-B-4" title="B.4" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-B-5" title="B.5" class="red-square checker-square" data-accept="none"><div class="checker-square-child checker-piece checker-piece-black" data-king="false" data-piececolor="black" data-piecenumber="B7"><p>&nbsp;</p></div></td><td id="sq-B-6" title="B.6" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-B-7" title="B.7" class="red-square checker-square" data-accept="none"><div class="checker-square-child checker-piece checker-piece-black" data-king="false" data-piececolor="black" data-piecenumber="B8"><p>&nbsp;</p></div></td><td id="sq-B-8" title="B.8" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="co-B" class="coord-row coordinate">B</td>
            </tr>

            <tr class="checker-row" data-row="mid-row" data-endrow="false">
                <td id="co-C" class="coord-row coordinate">C</td><td id="sq-C-1" title="C.1" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-C-2" title="C.2" class="red-square checker-square" data-accept="none"><div class="checker-square-child checker-piece checker-piece-black" data-king="false" data-piececolor="black" data-piecenumber="B9"><p>&nbsp;</p></div></td><td id="sq-C-3" title="C.3" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-C-4" title="C.4" class="red-square checker-square" data-accept="none"><div class="checker-square-child checker-piece checker-piece-black" data-king="false" data-piececolor="black" data-piecenumber="B10"><p>&nbsp;</p></div></td><td id="sq-C-5" title="C.5" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-C-6" title="C.6" class="red-square checker-square" data-accept="none"><div class="checker-square-child checker-piece checker-piece-black" data-king="false" data-piececolor="black" data-piecenumber="B11"><p>&nbsp;</p></div></td><td id="sq-C-7" title="C.7" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-C-8" title="C.8" class="red-square checker-square" data-accept="none"><div class="checker-square-child checker-piece checker-piece-black" data-king="false" data-piececolor="black" data-piecenumber="B12"><p>&nbsp;</p></div></td><td id="co-C" class="coord-row coordinate">C</td>
            </tr>

            <tr class="checker-row" data-row="mid-row" data-endrow="false">
                <td id="co-D" class="coord-row coordinate">D</td><td id="sq-D-1" title="D.1" class="red-square checker-square" data-accept="none"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-D-2" title="D.2" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-D-3" title="D.3" class="red-square checker-square" data-accept="none"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-D-4" title="D.4" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-D-5" title="D.5" class="red-square checker-square" data-accept="none"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-D-6" title="D.6" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-D-7" title="D.7" class="red-square checker-square" data-accept="none"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-D-8" title="D.8" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="co-D" class="coord-row coordinate">D</td>
            </tr>

            <tr class="checker-row" data-row="mid-row" data-endrow="false">
                <td id="co-E" class="coord-row coordinate">E</td><td id="sq-E-1" title="E.1" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-E-2" title="E.2" class="red-square checker-square" data-accept="none"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-E-3" title="E.3" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-E-4" title="E.4" class="red-square checker-square" data-accept="none"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-E-5" title="E.5" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-E-6" title="E.6" class="red-square checker-square" data-accept="none"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-E-7" title="E.7" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-E-8" title="E.8" class="red-square checker-square" data-accept="none"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="co-E" class="coord-row coordinate">E</td>
            </tr>

            <tr class="checker-row" data-row="mid-row" data-endrow="false">
                <td id="co-F" class="coord-row coordinate">F</td><td id="sq-F-1" title="F.1" class="red-square checker-square" data-accept="none"><div class="checker-square-child checker-piece checker-piece-red" data-king="false" data-piececolor="red" data-piecenumber="R1"><p>&nbsp;</p></div></td><td id="sq-F-2" title="F.2" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-F-3" title="F.3" class="red-square checker-square" data-accept="none"><div class="checker-square-child checker-piece checker-piece-red" data-king="false" data-piececolor="red" data-piecenumber="R2"><p>&nbsp;</p></div></td><td id="sq-F-4" title="F.4" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-F-5" title="F.5" class="red-square checker-square" data-accept="none"><div class="checker-square-child checker-piece checker-piece-red" data-king="false" data-piececolor="red" data-piecenumber="R3"><p>&nbsp;</p></div></td><td id="sq-F-6" title="F.6" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-F-7" title="F.7" class="red-square checker-square" data-accept="none"><div class="checker-square-child checker-piece checker-piece-red" data-king="false" data-piececolor="red" data-piecenumber="R4"><p>&nbsp;</p></div></td><td id="sq-F-8" title="F.8" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="co-F" class="coord-row coordinate">F</td>
            </tr>

            <tr class="checker-row" data-row="mid-row" data-endrow="false">
                <td id="co-G" class="coord-row coordinate">G</td><td id="sq-G-1" title="G.1" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-G-2" title="G.2" class="red-square checker-square" data-accept="none"><div class="checker-square-child checker-piece checker-piece-red" data-king="false" data-piececolor="red" data-piecenumber="R5"><p>&nbsp;</p></div></td><td id="sq-G-3" title="G.3" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-G-4" title="G.4" class="red-square checker-square" data-accept="none"><div class="checker-square-child checker-piece checker-piece-red" data-king="false" data-piececolor="red" data-piecenumber="R6"><p>&nbsp;</p></div></td><td id="sq-G-5" title="G.5" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-G-6" title="G.6" class="red-square checker-square" data-accept="none"><div class="checker-square-child checker-piece checker-piece-red" data-king="false" data-piececolor="red" data-piecenumber="R7"><p>&nbsp;</p></div></td><td id="sq-G-7" title="G.7" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-G-8" title="G.8" class="red-square checker-square" data-accept="none"><div class="checker-square-child checker-piece checker-piece-red" data-king="false" data-piececolor="red" data-piecenumber="R8"><p>&nbsp;</p></div></td><td id="co-G" class="coord-row coordinate">G</td>
            </tr>

            <tr class="checker-row" data-row="red-end-row" data-endrow="true">
                <td id="co-H" class="coord-row coordinate">H</td><td id="sq-H-1" title="H.1" class="red-square checker-square" data-accept="none"><div class="checker-square-child checker-piece checker-piece-red" data-king="false" data-piececolor="red" data-piecenumber="R9"><p>&nbsp;</p></div></td><td id="sq-H-2" title="H.2" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-H-3" title="H.3" class="red-square checker-square" data-accept="none"><div class="checker-square-child checker-piece checker-piece-red" data-king="false" data-piececolor="red" data-piecenumber="R10"><p>&nbsp;</p></div></td><td id="sq-H-4" title="H.4" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-H-5" title="H.5" class="red-square checker-square" data-accept="none"><div class="checker-square-child checker-piece checker-piece-red" data-king="false" data-piececolor="red" data-piecenumber="R11"><p>&nbsp;</p></div></td><td id="sq-H-6" title="H.6" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="sq-H-7" title="H.7" class="red-square checker-square" data-accept="none"><div class="checker-square-child checker-piece checker-piece-red" data-king="false" data-piececolor="red" data-piecenumber="R12"><p>&nbsp;</p></div></td><td id="sq-H-8" title="H.8" class="white-square checker-square"><div class="checker-square-child" data-piececolor="empty">&nbsp;</div></td><td id="co-H" class="coord-row coordinate">H</td>
            </tr>

            <tr class="coordinate-row">
                <td id="co-blank" class="coord-col-row coord-col-row-bl coordinate">&nbsp;</td>
                <td id="co-1" class="coord-col coordinate">1</td>
                <td id="co-2" class="coord-col coordinate">2</td>
                <td id="co-3" class="coord-col coordinate">3</td>
                <td id="co-4" class="coord-col coordinate">4</td>
                <td id="co-5" class="coord-col coordinate">5</td>
                <td id="co-6" class="coord-col coordinate">6</td>
                <td id="co-7" class="coord-col coordinate">7</td>
                <td id="co-8" class="coord-col coordinate">8</td>
                <td id="co-blank" class="coord-col-row coord-col-row-br coordinate">&nbsp;</td>
            </tr>
        </table>

        <!-- <div class="checker-square-child checker-piece checker-piece-red" data-king="false" data-piececolor="red"></div> -->
        <!-- <div class="checker-square-child checker-piece checker-piece-black" data-king="false" data-piececolor="black"></div> -->

      </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>

  var redPiece = '<div class="checker-square-child checker-piece checker-piece-red" data-king="false" data-piececolor="red"></div>';
  var blackPiece = '<div class="checker-square-child checker-piece checker-piece-black" data-king="false" data-piececolor="black"></div>'

  function startSetup() {
    $('#sq-A-2 div').replaceWith(blackPiece);$('#sq-A-4 div').replaceWith(blackPiece);
    $('#sq-A-6 div').replaceWith(blackPiece);$('#sq-A-8 div').replaceWith(blackPiece);
    $('#sq-B-1 div').replaceWith(blackPiece);$('#sq-B-3 div').replaceWith(blackPiece);
    $('#sq-B-5 div').replaceWith(blackPiece);$('#sq-B-7 div').replaceWith(blackPiece);
    $('#sq-C-2 div').replaceWith(blackPiece);$('#sq-C-4 div').replaceWith(blackPiece);
    $('#sq-C-6 div').replaceWith(blackPiece);$('#sq-C-8 div').replaceWith(blackPiece);
    $('#sq-F-1 div').replaceWith(redPiece);$('#sq-F-3 div').replaceWith(redPiece);
    $('#sq-F-5 div').replaceWith(redPiece);$('#sq-F-7 div').replaceWith(redPiece);
    $('#sq-G-2 div').replaceWith(redPiece);$('#sq-G-4 div').replaceWith(redPiece);
    $('#sq-G-6 div').replaceWith(redPiece);$('#sq-G-8 div').replaceWith(redPiece);
    $('#sq-H-1 div').replaceWith(redPiece);$('#sq-H-3 div').replaceWith(redPiece);
    $('#sq-H-5 div').replaceWith(redPiece);$('#sq-H-7 div').replaceWith(redPiece);
  }

  function showTheNumbers() {
    $('#sq-A-1 div').replaceWith('<div>A.1</div>');$('#sq-A-2 div').replaceWith('<div>A.2</div>');
    $('#sq-A-3 div').replaceWith('<div>A.3</div>');$('#sq-A-4 div').replaceWith('<div>A.4</div>');
    $('#sq-A-5 div').replaceWith('<div>A.5</div>');$('#sq-A-6 div').replaceWith('<div>A.6</div>');
    $('#sq-A-7 div').replaceWith('<div>A.7</div>');$('#sq-A-8 div').replaceWith('<div>A.8</div>');
    $('#sq-B-1 div').replaceWith('<div>B.1</div>');$('#sq-B-2 div').replaceWith('<div>B.2</div>');
    $('#sq-B-3 div').replaceWith('<div>B.3</div>');$('#sq-B-4 div').replaceWith('<div>B.4</div>');
    $('#sq-B-5 div').replaceWith('<div>B.5</div>');$('#sq-B-6 div').replaceWith('<div>B.6</div>');
    $('#sq-B-7 div').replaceWith('<div>B.7</div>');$('#sq-B-8 div').replaceWith('<div>B.8</div>');
    $('#sq-C-1 div').replaceWith('<div>C.1</div>');$('#sq-C-2 div').replaceWith('<div>C.2</div>');
    $('#sq-C-3 div').replaceWith('<div>C.3</div>');$('#sq-C-4 div').replaceWith('<div>C.4</div>');
    $('#sq-C-5 div').replaceWith('<div>C.5</div>');$('#sq-C-6 div').replaceWith('<div>C.6</div>');
    $('#sq-C-7 div').replaceWith('<div>C.7</div>');$('#sq-C-8 div').replaceWith('<div>C.8</div>');
    $('#sq-D-1 div').replaceWith('<div>D.1</div>');$('#sq-D-2 div').replaceWith('<div>D.2</div>');
    $('#sq-D-3 div').replaceWith('<div>D.3</div>');$('#sq-D-4 div').replaceWith('<div>D.4</div>');
    $('#sq-D-5 div').replaceWith('<div>D.5</div>');$('#sq-D-6 div').replaceWith('<div>D.6</div>');
    $('#sq-D-7 div').replaceWith('<div>D.7</div>');$('#sq-D-8 div').replaceWith('<div>D.8</div>');
    $('#sq-E-1 div').replaceWith('<div>E.1</div>');$('#sq-E-2 div').replaceWith('<div>E.2</div>');
    $('#sq-E-3 div').replaceWith('<div>E.3</div>');$('#sq-E-4 div').replaceWith('<div>E.4</div>');
    $('#sq-E-5 div').replaceWith('<div>E.5</div>');$('#sq-E-6 div').replaceWith('<div>E.6</div>');
    $('#sq-E-7 div').replaceWith('<div>E.7</div>');$('#sq-E-8 div').replaceWith('<div>E.8</div>');
    $('#sq-F-1 div').replaceWith('<div>F.1</div>');$('#sq-F-2 div').replaceWith('<div>F.2</div>');
    $('#sq-F-3 div').replaceWith('<div>F.3</div>');$('#sq-F-4 div').replaceWith('<div>F.4</div>');
    $('#sq-F-5 div').replaceWith('<div>F.5</div>');$('#sq-F-6 div').replaceWith('<div>F.6</div>');
    $('#sq-F-7 div').replaceWith('<div>F.7</div>');$('#sq-F-8 div').replaceWith('<div>F.8</div>');
    $('#sq-G-1 div').replaceWith('<div>G.1</div>');$('#sq-G-2 div').replaceWith('<div>G.2</div>');
    $('#sq-G-3 div').replaceWith('<div>G.3</div>');$('#sq-G-4 div').replaceWith('<div>G.4</div>');
    $('#sq-G-5 div').replaceWith('<div>G.5</div>');$('#sq-G-6 div').replaceWith('<div>G.6</div>');
    $('#sq-G-7 div').replaceWith('<div>G.7</div>');$('#sq-G-8 div').replaceWith('<div>G.8</div>');
    $('#sq-H-1 div').replaceWith('<div>H.1</div>');$('#sq-H-2 div').replaceWith('<div>H.2</div>');
    $('#sq-H-3 div').replaceWith('<div>H.3</div>');$('#sq-H-4 div').replaceWith('<div>H.4</div>');
    $('#sq-H-5 div').replaceWith('<div>H.5</div>');$('#sq-H-6 div').replaceWith('<div>H.6</div>');
    $('#sq-H-7 div').replaceWith('<div>H.7</div>');$('#sq-H-8 div').replaceWith('<div>H.8</div>');
  }

  var n2lDict = {'1':'A','2':'B','3':'C','4':'D','5':'E','6':'F','7':'G','8':'H'};
  var l2nDict = {'A':'1','B':'2','C':'3','D':'4','E':'5','F':'6','G':'7','H':'8'};

  function num2let(inNum) {return n2lDict[inNum.toString()];}

  function let2num(inLet) {return l2nDict[inLet.toString()];}

  function squareStatus(inCoordinate) {
    var c1 = c1c2(inCoordinate)[0],c2 = c1c2(inCoordinate)[1];
    return $('#sq-'+c1+'-'+c2+' div').data('piececolor');
  }

  function relativeMovement(inSCoord, inECoord) {
    var sC1 = c1c2(inSCoord)[0],sC2 = c1c2(inSCoord)[1];

    var rmTL = num2let(parseInt(let2num(sC1))-1)+(parseInt(sC2)-1).toString();
    var rmTR = num2let(parseInt(let2num(sC1))-1)+(parseInt(sC2)+1).toString();
    var rmBL = num2let(parseInt(let2num(sC1))+1)+(parseInt(sC2)-1).toString();
    var rmBR = num2let(parseInt(let2num(sC1))+1)+(parseInt(sC2)+1).toString();

    var rmTLj = num2let(parseInt(let2num(sC1))-2)+(parseInt(sC2)-2).toString();
    var rmTRj = num2let(parseInt(let2num(sC1))-2)+(parseInt(sC2)+2).toString();
    var rmBLj = num2let(parseInt(let2num(sC1))+2)+(parseInt(sC2)-2).toString();
    var rmBRj = num2let(parseInt(let2num(sC1))+2)+(parseInt(sC2)+2).toString();

    var relJSON = '{"'+rmTL+'":["tl",null],"'+rmTR+'":["tr",null],"'+rmBL+'":["bl",null],"'+rmBR+'":["br",null],"'+rmTLj+'":["tl","jump"],"'+rmTRj+'":["tr","jump"],"'+rmBLj+'":["bl","jump"],"'+rmBRj+'":["br","jump"]}';

    relJSON = JSON.parse(relJSON);

    return relJSON[inECoord];
  }

  function _2ID(inCoordinate) {
    var inStatus = coordinateOrID(inCoordinate);
    if (inStatus == '#id') {
        return inCoordinate;
    } else if (inStatus == 'id') {
        return '#'+inCoordinate;
    } else if (inStatus == 'coordinate') {
        return coordinate2id(inCoordinate);
    }
  }

  function _2Coordinate(inID) {

  }

  function coordinateOrID(inString) {
        if (/#sq-[A-H]-[1-8]/.test(inString)) {
            return '#id';
        } else if (/sq-[A-H]-[1-8]/.test(inString)) {
            return 'id';
        } else {
            return 'coordinate';
        }
    }

  function c1c2(inCoordinate) {return [inCoordinate.substr(0,1), inCoordinate.substr(1,1)];}

  function pullCoordinate(inID) {return inID.substr(3,1) + inID.substr(5,1);}

  function coordinate2id(inCoordinate) {
    var c1 = c1c2(inCoordinate)[0],c2 = c1c2(inCoordinate)[1];
    return '#sq-'+c1+'-'+c2;
  }

  function getPiecenumber(inCoordinate) {
    var c1 = c1c2(inCoordinate)[0],c2 = c1c2(inCoordinate)[1];
    return $('#sq-'+c1+'-'+c2).data('piecenumber');
  }

  function isKing(inPiecenumber) {

  }

  function hasKing(inCoordinate) {
    var c1 = c1c2(inCoordinate)[0],c2 = c1c2(inCoordinate)[1];
    var kingStatus = $('#sq-'+c1+'-'+c2+' div').data('king');
    return kingStatus;
  }

  function possibleMoves(inCoordinate) {
    var c1 = c1c2(inCoordinate)[0],c2 = c1c2(inCoordinate)[1];

    var sSelf = squareStatus(inCoordinate);

    var icTL = num2let(parseInt(let2num(c1))-1)+(parseInt(c2)-1).toString();
    var icTR = num2let(parseInt(let2num(c1))-1)+(parseInt(c2)+1).toString();
    var icBL = num2let(parseInt(let2num(c1))+1)+(parseInt(c2)-1).toString();
    var icBR = num2let(parseInt(let2num(c1))+1)+(parseInt(c2)+1).toString();
    
    var sTL = squareStatus(icTL),sTR = squareStatus(icTR);
    var sBL = squareStatus(icBL),sBR = squareStatus(icBR);

    var icTLjump = num2let(parseInt(let2num(c1))-2)+(parseInt(c2)-2).toString();
    var icTRjump = num2let(parseInt(let2num(c1))-2)+(parseInt(c2)+2).toString();
    var icBLjump = num2let(parseInt(let2num(c1))+2)+(parseInt(c2)-2).toString();
    var icBRjump = num2let(parseInt(let2num(c1))+2)+(parseInt(c2)+2).toString();
    
    var sTLjump = squareStatus(icTLjump),sTRjump = squareStatus(icTRjump);
    var sBLjump = squareStatus(icBLjump),sBRjump = squareStatus(icBRjump);

    var aTL,aTR,aBL,aBR,aTLj,aTRj,aBLj,aBRj;

    if (sSelf == 'red') {
        if (sTL == 'red') {aTL = false,aTLj = false;} else if (sTL == 'black') {aTL = false;
            if (sTLjump == 'empty') {aTLj = true;} else {aTLj = false;}
        } else if (sTL == 'empty') {aTL = true;aTLj = false;}

        if (sTR == 'red') {aTR = false,aTRj = false;} else if (sTR == 'black') {aTR = false;
            if (sTRjump == 'empty') {aTRj = true;} else {aTRj = false;}
        } else if (sTR == 'empty') {aTR = true,aTRj = false;}

        if (hasKing(inCoordinate)) {
            if (sBL == 'red') {aBL = false,aBLj = false;} else if (sBL == 'black') {aBL = false;
                if (sBLjump == 'empty') {aBLj = true;} else {aBLj = false;}
            } else if (sBL == 'empty') {aBL = true,aBLj = false;}

            if (sBR == 'red') {aBR = false,aBRj = false;} else if (sBR == 'black') {aBR = false;
                if (sBRjump == 'empty') {aBRj = true;} else {aBRj = false;}
            } else if (sBR == 'empty') {aBR = true,aBRj = false;}
        } else {aBL = false,aBLj = false,aBR = false,aBRj = false;}
        
    } else if (sSelf == 'black') {
        if (sBL == 'black') {aBL = false,aBLj = false;} else if (sBL == 'red') {aBL = false;
            if (sBLjump == 'empty') {aBLj = true;} else {aBLj = false;}
        } else if (sBL == 'empty') {aBL = true,aBLj = false;}

        if (sBR == 'black') {aBR = false,aBRj = false;} else if (sBR == 'red') {aBR = false;
            if (sBRjump == 'empty') {aBRj = true;} else {aBRj = false;}
        } else if (sBR == 'empty') {aBR = true,aBRj = false;}

        if (hasKing(inCoordinate)) {
            if (sTL == 'black') {aTL = false,aTLj = false;} else if (sTL == 'red') {aTL = false;
                if (sTLjump == 'empty') {aTLj = true;} else {aTLj = false;}
            } else if (sTL == 'empty') {aTL = true,aTLj = false;}

            if (sTR == 'black') {aTR = false,aTRj = false;} else if (sTR == 'red') {aTR = false;
                if (sTRjump == 'empty') {aTRj = true;} else {aTRj = false;}
            } else if (sTR == 'empty') {aTR = true,aTRj = false;}
        } else {aTL = false,aTLj = false,aTR = false,aTRj = false;}
    }
    
    return {
        "tl":{
            "status":aTL,
            "coordinate":icTL,
            "jump":{
                "status":aTLj,
                "coordinate":icTLjump.substr(0,1) + icTLjump.substr(1,1)
            }
        },
        "tr":{
            "status":aTR,
            "coordinate":icTR,
            "jump":{
                "status":aTRj,
                "coordinate":icTRjump.substr(0,1) + icTRjump.substr(1,1)
            }
        },
        "bl":{
            "status":aBL,
            "coordinate":icBL,
            "jump":{
                "status":aBLj,
                "coordinate":icBLjump.substr(0,1) + icBLjump.substr(1,1)
            }
        },
        "br":{
            "status":aBR,
            "coordinate":icBR,
            "jump":{
                "status":aBRj,
                "coordinate":icBRjump.substr(0,1) + icBRjump.substr(1,1)
            }
        }        
    };
  }

  function acceptableMoves(inMovesJSON) {
    var acceptArr = [];
    
    if (inMovesJSON['tl']['status'] == true) {acceptArr.push(coordinate2id(inMovesJSON['tl']['coordinate']))}
    if (inMovesJSON['tr']['status'] == true) {acceptArr.push(coordinate2id(inMovesJSON['tr']['coordinate']))}
    if (inMovesJSON['bl']['status'] == true) {acceptArr.push(coordinate2id(inMovesJSON['bl']['coordinate']))}
    if (inMovesJSON['br']['status'] == true) {acceptArr.push(coordinate2id(inMovesJSON['br']['coordinate']))}
    
    if (inMovesJSON['tl']['jump']['status'] == true) {acceptArr.push(coordinate2id(inMovesJSON['tl']['jump']['coordinate']))}
    if (inMovesJSON['tr']['jump']['status'] == true) {acceptArr.push(coordinate2id(inMovesJSON['tr']['jump']['coordinate']))}
    if (inMovesJSON['bl']['jump']['status'] == true) {acceptArr.push(coordinate2id(inMovesJSON['bl']['jump']['coordinate']))}
    if (inMovesJSON['br']['jump']['status'] == true) {acceptArr.push(coordinate2id(inMovesJSON['br']['jump']['coordinate']))}

    if (acceptArr.length == 0) {
        if (inMovesJSON['tl']['coordinate'] != undefined) {
            return coordinate2id(coordinateMath(inMovesJSON['tl']['coordinate'],1,1));
        } else if (inMovesJSON['tr']['coordinate'] != undefined) {
            return coordinate2id(coordinateMath(inMovesJSON['tr']['coordinate'],1,-1));
        } else if (inMovesJSON['bl']['coordinate'] != undefined) {
            return coordinate2id(coordinateMath(inMovesJSON['bl']['coordinate'],-1,1));
        } else if (inMovesJSON['br']['coordinate'] != undefined) {
            return coordinate2id(coordinateMath(inMovesJSON['br']['coordinate'],-1,-1));
        }
        
    } else if (acceptArr.length > 0) {
        return acceptArr.join();
    }
    
  }

  function coordinateMath(inCoordinate, letterShift, numberShift) {
    var c1 = num2let(parseInt(let2num(inCoordinate.substr(0,1)))+letterShift);
    var c2 = (parseInt(inCoordinate.substr(1,1))+numberShift).toString();
    return c1+c2;
  }

  function coordinateDifference(inCoordinate1, inCoordinate2) {
    
    var c11 = parseInt(let2num(c1c2(inCoordinate1)[0]));
    var c12 = parseInt(c1c2(inCoordinate1)[1]);
    var c21 = parseInt(let2num(c1c2(inCoordinate2)[0]));
    var c22 = parseInt(c1c2(inCoordinate2)[1]);
    return [c21-c11,c22-c12];
  }

  function coordinateDirection(sCoord, eCoord) {
    var cs1 = parseInt(let2num(c1c2(sCoord)[0]));
    var cs2 = parseInt(c1c2(sCoord)[1]);
    var ce1 = parseInt(let2num(c1c2(eCoord)[0]));
    var ce2 = parseInt(c1c2(eCoord)[1]);
    var verticalDirection;
    var horizontalDirection;

    if (cs1 > ce1) {
        verticalDirection = 't';
    } else if (cs1 < ce1) {
        verticalDirection = 'b';
    }

    if (cs2 > ce2) {
        horizontalDirection = 'l';
    } else if (cs2 < ce2) {
        horizontalDirection = 'r';
    }

    return verticalDirection+horizontalDirection;
  }

  function jumpSquares(inMovesJSON) {
    var acceptArr = [];
    
    if (inMovesJSON['tl']['jump']['status'] == true) {acceptArr.push(coordinate2id(inMovesJSON['tl']['jump']['coordinate']))}
    if (inMovesJSON['tr']['jump']['status'] == true) {acceptArr.push(coordinate2id(inMovesJSON['tr']['jump']['coordinate']))}
    if (inMovesJSON['bl']['jump']['status'] == true) {acceptArr.push(coordinate2id(inMovesJSON['bl']['jump']['coordinate']))}
    if (inMovesJSON['br']['jump']['status'] == true) {acceptArr.push(coordinate2id(inMovesJSON['br']['jump']['coordinate']))}

    if (acceptArr.length == 0) {
        if (inMovesJSON['tl']['coordinate'] != undefined) {
            return coordinate2id(coordinateMath(inMovesJSON['tl']['jump']['coordinate'],2,2));
        } else if (inMovesJSON['tr']['coordinate'] != undefined) {
            return coordinate2id(coordinateMath(inMovesJSON['tr']['jump']['coordinate'],2,-2));
        } else if (inMovesJSON['bl']['coordinate'] != undefined) {
            return coordinate2id(coordinateMath(inMovesJSON['bl']['jump']['coordinate'],-2,2));
        } else if (inMovesJSON['br']['coordinate'] != undefined) {
            return coordinate2id(coordinateMath(inMovesJSON['br']['jump']['coordinate'],-2,-2));
        }
        
    } else if (acceptArr.length > 0) {
        return acceptArr.join();
    }
  }

  function becomeKing(inCoordinate) {
    var inID = _2ID(inCoordinate);
    var rowData = $(inID).parent().data('row');
    var piececolorData = $(inID+' div').data('piececolor');
    var endrowData = $(inID).parent().data('endrow');
    var kingData = $(inID+' div').data('king');
    

    if (endrowData == true) {
        if (kingData == false) {
            if (((piececolorData == 'red') && (rowData == 'black-end-row')) || ((piececolorData == 'black') && (rowData == 'red-end-row'))) {
                $(inID+' div').attr('data-king', true);
                $(inID+' div p').replaceWith('<p class="kingme">K</p>');
            }
        }
    }
  }



  $(function() {

    var dragPiece;
    var startSquare;
    var movesJSON;
    var destSquare;
    var endSquare = [null,null];
    var stopSquare;
    var droppableSquares;

    $(document).on('mouseenter', '.checker-piece', function() {
        movesJSON = possibleMoves(pullCoordinate($(this).parent().attr('id')));
        // console.log(movesJSON);
        var droppableSquares = acceptableMoves(movesJSON);
        // console.log(droppableSquares);

        $('.checker-piece').draggable({
          revert: "invalid",
          start: function(event, ui) {
            dragPiece = $(this)[0];
            startSquare = $(this).parent().attr('id');
          }
        });


        $(droppableSquares).droppable({
            accept: '.checker-piece',
            drop: function(event, ui) {
                var uiT = Math.round(ui['position']['top']/100);
                var uiL = Math.round(ui['position']['left']/100)
                stopSquare = coordinateMath(pullCoordinate(startSquare), uiT, uiL);
                destSquare = $(this).attr('id');
                var destSquareID = '#'+destSquare;
                var startSquareID = '#'+startSquare;
                endSquare = relativeMovement(pullCoordinate(startSquare), stopSquare);
                $(startSquareID+' div').replaceWith('<div class="checker-square-child" data-piececolor="empty">&nbsp;</div>');
                $(destSquareID+' div').replaceWith(dragPiece);
                $(destSquareID+' div').css('top','-1px');
                $(destSquareID+' div').css('left','-1px');
                if (jumpSquares(movesJSON).includes(destSquareID)) {
                    var startC = pullCoordinate(startSquare);
                    var destC = pullCoordinate(destSquare);
                    var jumpedID = coordinate2id(movesJSON[coordinateDirection(startC,destC)]['coordinate']);
                    $(jumpedID+' div').replaceWith('<div class="checker-square-child" data-piececolor="empty">&nbsp;</div>');
                }
                becomeKing(destSquareID);
            }
        });
    });
    

    
    

  });

</script>