<div class="row">
  <div class="col-10 offset-1">
    <div class="space-break"></div>
    <div class="page-title">Thermometer</div>
  <div class="wip-watermark">Work In Progress</div>
  </div>
</div>

<div id="page-yield" data-pagename="Thermometer" data-pagestatus="wip">
  <div class="row">
    <div class="col-10 offset-1">
      <div class="col-2 offset-5">
        <div id="thermometer-draw">
          
          <div class="rectangle degree-markings">
            <div class="circle">
              <div class="arc arc-a"></div>
              <div class="arc arc-b"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script>
  

  var currentTemp;
  var fillHeight;


  $(function() {

    



  });

</script>