// Place all the styles related to the flip_coins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$coin-flip-animation-duration: 3s;

$coin-hw: 400px;
$coin-center: 278px;
$coin-offset-shadow: 10px;
$coin-offset-blur: $coin-offset-shadow * 2;
$coin-offset-spread: 0px;
$coin-font-size: 300px;
$coin-line-height: $coin-hw;
$coin-perspective: 1400px;
$coin-rotate: 45deg;
.coin {
  border: 2px solid black;
  height: $coin-hw;
  width: $coin-hw;
  -webkit-border-radius: $coin-hw;
  -moz-border-radius: $coin-hw;
  -ms-border-radius: $coin-hw;
  -o-border-radius: $coin-hw;
  border-radius: $coin-hw;
  left: $coin-center;
  // box-shadow: $coin-offset-shadow $coin-offset-shadow $coin-offset-blur $coin-offset-spread black;
  
  // -webkit-perspective: $coin-perspective;
  // perspective: $coin-perspective;

  // animation-duration: $coin-flip-animation-duration;
  // animation-name: coinflip;
}

#coin-flip {
  position: absolute;
  overflow: hidden;
  visibility: visible;
  display: block;
  // top: 50%;
  // left: $coin-center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  // height: 600px;
  -webkit-perspective: $coin-perspective;
  perspective: $coin-perspective;
  height: 600px;
  width: 600px;
}

#coin-self {
  position: relative;
  -webkit-transform-style: preserve-3d; /* Safari 3-8  */  
  transform-style: preserve-3d;
  height: 400px;
  width: 400px;
  left: -25%;

  animation-duration: $coin-flip-animation-duration;
  animation-name: coinflip;
}

#coin-front {
  -webkit-transform: translateZ(1px);
  transform: translateZ(1px);
  -webkit-transform-origin: center center 0;
  transform-origin: center center 0;
  position: absolute;
  // top: 50%;
  // left: $coin-center;
  visibility: visible;
  
  // animation-duration: $coin-flip-animation-duration;
  // animation-name: coinflipfront;
}

#coin-back {
  -webkit-transform: translateZ(-1px) rotateX(180deg);
  transform: translateZ(-1px) rotateX(180deg);
  -webkit-transform-origin: center center 0;
  transform-origin: center center 0;
  position: absolute;
  // top: 50%;
  // left: $coin-center;
  visibility: hidden;

  // animation-duration: $coin-flip-animation-duration;
  // animation-name: coinflipback;
}

.coin-text {
  font-size: $coin-font-size;
  text-align: center;
  line-height: $coin-line-height;
  margin: 0px;
  padding: 0px;

  // -webkit-perspective: $coin-perspective;
  // perspective: $coin-perspective;

  // animation-duration: $coin-flip-animation-duration;
  // animation-name: coinfliptext;
}

@keyframes coinflip {
  from {
    -webkit-transform: rotateX(0deg); /* Safari 3-8  */
    transform: rotateX(0deg);
    -webkit-transform-origin: center center 0;
    transform-origin: center center 0;
  }

  to {
    -webkit-transform: rotateX(180deg); /* Safari 3-8  */
    transform: rotateX(180deg);
    -webkit-transform-origin: center center 0;
    transform-origin: center center 0;
  }
}
