<div class="row no-gutters">
  <div class="col-10 offset-1">
    <div class="space-break"></div>
    <div class="page-title">Flip A Coin</div>
  <div class="wip-watermark">Work In Progress</div>
  </div>
</div>

<div id="page-yield" data-pagename="Flip-A-Coin" data-pagestatus="wip">
  <div class="row no-gutters">
    <div class="col-6 offset-3">
      <div id="coin-flip">
        <div id="coin-self">
          <div id="coin-front" class="coin">
            <p class="coin-text">H</p>
          </div>
          <div id="coin-back" class="coin">
            <p class="coin-text">T</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  
  

</script>