<div class="row no-gutters">
  <div class="col-10 offset-1">
    <div class="space-break"></div>
    <div class="page-title">Flip A Coin</div>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-6 offset-3">
    <div id="coin-animation">
      <div class="coin coin-front">
        <p class="coin-text">H</p>
      </div>
  </div>
</div>